/* global style */
:root {
  --outer-border: #bbb;
  --sub-box-padding: #fcfcfc;
  --title-text: #444;
  --button-border: #999999;
  --button-hover: #ffbf86;
  --button-hover-border: #e6a165;
  --button-text: #ffffff;
  --arrow-color: #ffffff;
}

html {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Firepad/CodeMirror Style */
#firepad {
  position: absolute;
  top: 0;
  left: 200px;
  right: 100px;
  height: 100vh;
  min-width: 916px;
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CodeMirror {
  line-height: 1.2;
}

a.powered-by-firepad {
  display: none;
}

div.firepad-richtext.firepad-with-toolbar {
  height: 100%;
}

div.CodeMirror-vscrollbar {
  width: 16px;
}

div.firepad-toolbar {
  display: flex;
  align-items: center;
}

div.firepad-toolbar-wrapper {
  margin: 0 auto;
  min-width: 816px;
  width: 816px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 20px;
}

div.CodeMirror-lines {
  margin: 0 auto;
  width: 816px;
  min-height: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
}

div.CodeMirror.cm-s-default.CodeMirror-wrap {
  min-width: 816px;
}

/* User List Style */
#userlist {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 175px;
}

.userlist-box {
  height: 200px;
  border-radius: 4px;
}

/* Arrow Style (styles relative position arrows in User List) */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid var(--arrow-color);
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid var(--arrow-color);
}

.arrow-stem {
  width: 10px;
  height: 15px;
  background: var(--arrow-color);
  margin-left: 10px;
}

/* Color Picker Style (styles color picker in User List) */
.colorpicker-button {
  position: absolute;
  top: 0px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
}

#color-edit-pencil-icon {
  position: relative;
  left: 6px;
  top: 7px;
  height: 20px;
  width: 20px;
}

/* Control Container Style */
#controlContainer {
  background-color: #ebebeb;
  width: 175px;
  position: relative;
  border-radius: 4px;
  padding-bottom: 12px;
  height: auto;
  max-height: 65vh;
  overflow-y: scroll;
}

#user-checkboxes-container {
  position: relative;
  margin-left: 15px;
}

.user-checkboxes {
  background-color: var(--sub-box-padding);
  border: 1px solid var(--outer-border);
  border-bottom-width: 4px;
  border-radius: 6px;
  color: var(--title-text);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 4px 6px 2px 6px;
  width: 145px;
}

.user-checkboxes:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover-border);
  color: var(--button-text);
}

#visualize-control-container {
  position: relative;
  margin-left: 15px;
}

.visualize-checkboxes {
  background-color: var(--sub-box-padding);
  border: 1px solid var(--outer-border);
  border-bottom-width: 4px;
  border-radius: 6px;
  color: var(--title-text);
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  padding: 4px 6px 2px 6px;
  width: 145px;
}

.visualize-checkboxes:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover-border);
  color: var(--button-text);
}

/* Radio Button Style */
.radio-buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 145px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: var(--sub-box-padding);
  border: 1px solid var(--outer-border);
  border-radius: 4px;
  padding: 5px;
  padding-left: 10px;
}

.radio-buttons p {
  color: var(--title-text);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 5px;
}

.border {
  border: 1px solid black;
}

.radio-buttons input[type="radio"] {
  position: relative;
  opacity: 0;
  width: 0;
}

.radio-buttons label[type="radio"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  color: var(--button-text);
  border: 1px solid var(--button-border);
  border-radius: 6px;
  background-color: #c9c9c9;
  border-bottom-width: 4px;
  padding: 4px 6px 2px 6px;
  margin-left: 5px;
}

.radio-buttons label:hover {
  background-color: var(--button-hover);
  border-color: var(--button-hover-border);
}

.radio-buttons input[type="radio"]:checked + label {
  background-color: var(--button-border);
  border-color: var(--title-text);
}

.radio-buttons .inline-toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
}

.radio-buttons .inline-toggle-container p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

/* Mute Button Style */
.radio-buttons .inline-toggle-container #mute {
  width: 60px;
  height: 26px;
  margin: auto 0;
  text-align: center;
  color: black;
  font-size: 14px;
}

.radio-buttons .inline-toggle-container #mute:disabled {
  width: 60px;
  height: 26px;
  margin: auto 0;
  text-align: center;
  color: lightgray;
}

#slider-container {
  position: relative;
  left: 15px;
  width: 145px;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--sub-box-padding);
  border: 1px solid var(--outer-border);
  border-radius: 4px;
  padding-bottom: 20px;
}

.slider-text {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.slider-text2 {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin-left: 10px;
  margin-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#sentenceSlider {
  position: relative;
  width: 125px;
  margin-left: 10px;
  margin-top: 10px;
}

<<<<<<< HEAD
#sentenceSlider2 {
  position: relative;
  width: 125px;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range'] {
=======
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
>>>>>>> df448aec787ebce64f0af98fc8c5731dc404cfb4
    display: inline;
    overflow: hidden;
    border: 1px solid var(--title-text);
    -webkit-appearance: none;
    background-color: var(--sub-box-padding);
    outline: none;
    border-radius: 13px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 13px;
    -webkit-appearance: none;
    color: var(--button-hover-border);
  }

  input[type="range"]::-webkit-slider-thumb {
    border-radius: 13px;
    width: 13px;
    -webkit-appearance: none;
    height: 13px;
    cursor: ew-resize;
    background: var(--button-hover-border);
    box-shadow: -80px 0 0 75px #c9c9c9;
  }
}

#calibrationLink {
  text-decoration: none;
  margin-left: 15px;
}

#calibrationButton {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--title-text);
  border: 1px solid var(--outer-border);
  border-radius: 6px;
  background-color: var(--sub-box-padding);
  border-bottom-width: 4px;
  padding: 4px 6px 2px 6px;
  position: relative;
  top: 2px;
  width: 145px;
  margin-top: 8px;
}

#calibrationButton:hover {
  background-color: var(--button-hover);
  color: var(--button-text);
  border-color: var(--button-hover-border);
}

/* On/Off Switch Style */
.onoffswitch {
  position: relative;
  width: 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 0px;
  margin-bottom: 0;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.2s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 22px;
  padding: 0;
  line-height: 22px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #eeeeee;
  color: #444;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #eeeeee;
  color: #999999;
  text-align: right;
}
.onoffswitch-switch {
  display: block;
  width: 20px;
  height: 20px;
  margin: 3px;
  background: #a1a1a1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 38px;
  border: 2px solid #ffffff;
  border-radius: 0px;
  transition: all 0.2s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
  background-color: #ffbf86;
}
